# Imports

In [1]:
import pandas as pd

# Read Data

In [2]:
query1DF = pd.read_csv("Data/minedText.csv")
query2DF = pd.read_csv("Data/minedText_query2.csv")
query1_2DF = pd.read_csv("Data/minedText_query1.2.csv")

In [4]:
query1DF.head()

       pmid                                     title_abstract
0  33777285  A framework for stability-based module detecti...
1  33607938  CANTARE: finding and visualizing network-based...
2  33467846  A Practical Guide to Metabolomics Software Dev...
3  33467662  Phytochemical Profiling and Quality Control of...
4  33465307  DaDIA: Hybridizing Data-Dependent and Data-Ind...

In [3]:
query1_2DF.head()

       pmid                                     title_abstract
0  34024419  Novel acquisition strategies for metabolomics ...
1  33777285  A framework for stability-based module detecti...
2  33611117  Identification of the metabolites regulated in...
3  33607938  CANTARE: finding and visualizing network-based...
4  33483720  Cognitive analysis of metabolomics data for sy...

In [5]:
query2DF.head()

       pmid                                     title_abstract
0  34066448  IDARE2-Simultaneous Visualisation of Multiomic...
1  34066041  Correcting for Naturally Occurring Mass Isotop...
2  34045614  Kernel weighted least square approach for impu...
3  34038112  CyProduct: A Software Tool for Accurately Pred...
4  34026735  Large-Scale Analysis of Apolipoprotein CIII Gl...

# Get queries in query 2 not in query 1

In [6]:
query1_2DF.shape

(985, 2)

In [7]:
query1_2DF[~query1_2DF.pmid.isin(query1DF.pmid)]

         pmid                                     title_abstract
0    34024419  Novel acquisition strategies for metabolomics ...
2    33611117  Identification of the metabolites regulated in...
4    33483720  Cognitive analysis of metabolomics data for sy...
9    33400699  Chemical graph generators. Chemical graph gene...
14   33190713  A graph density-based strategy for features fu...
34   32701078  An approach for feature selection with data mo...
49   32397650  Center-of-Mass <i>iso-</i>Energetic Collision-...
53   32362135  Rapid qualitative profiling of metabolites pre...
95   31943015  EpiMetal: an open-source graphical web browser...
107  31843688  UniprotR: Retrieving and visualizing protein s...
128  31657527  Scalable Data Analysis in Proteomics and Metab...
234  30472248  Ancestral transcriptome inference based on RNA...
792  21513160  [The human variome project and its progress]. ...
831  20485748  Untargeted metabolic profiling reveals potenti...
847  20004603  icoshift: A versatile tool for the rapid align...
869  19633095  A System for Information Management in BioMedi...
873  19597796  ArrayTrack: an FDA and public genomic tool. A ...
907  18547062  Mass spectral metabonomics beyond elemental fo...
945  17035690  Nuclear magnetic resonance metabonomics: metho...
956  16635100  Proteomics: recent applications and new techno...
965  15990265  A study of spectral integration and normalizat...
971  15264428  Metabonomics: systems biology in pharmaceutica...
972  15204308  Metabonomics technologies and their applicatio...

In [6]:
query2_notin_query1 = query2DF[~query2DF.pmid.isin(query1DF.pmid)]

In [8]:
query2_notin_query1.head()

       pmid                                     title_abstract
0  34066448  IDARE2-Simultaneous Visualisation of Multiomic...
1  34066041  Correcting for Naturally Occurring Mass Isotop...
2  34045614  Kernel weighted least square approach for impu...
3  34038112  CyProduct: A Software Tool for Accurately Pred...
4  34026735  Large-Scale Analysis of Apolipoprotein CIII Gl...

# Sample 300 random abstracts from filtered queries

In [5]:
sample1_2 = query1_2DF.sample(n=600, random_state=555)

In [6]:
sample1_2.head()

         pmid                                     title_abstract
293  29718355  MetExplore: collaborative edition and explorat...
791  21523460  A survey of metabolic databases emphasizing th...
1    33777285  A framework for stability-based module detecti...
645  24165880  EBI metagenomics--a new resource for the analy...
181  31035005  Computational solutions in redox lipidomics - ...

In [9]:
sample = query2_notin_query1.sample(n=300)
sample.head()

          pmid                                     title_abstract
515   30279420  Dereplication of microbial metabolites through...
176   32442279  Fluxer: a web application to compute, analyze ...
1491  20307295  In silico fragmentation for computer assisted ...
531   30158930  Silent Witness: Dual-Species Transcriptomics R...
41    33683127  Updates on metaQuantome Software for Quantitat...

In [10]:
sample.shape

(300, 2)

In [11]:
sample = sample.title_abstract

In [7]:
sample1_2.to_csv("Data/query1_2-manualCurate.csv", index=False)

In [13]:
sample.to_csv("Data/query2_manualCurate.csv", index=False)